.container-solicitacoes-aluno {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  gap: 20px;
  justify-content: center;
  place-items: center;
  margin: 40px auto;
  padding: 0 20px;
  max-width: 1000px;
  font-family: sans-serif;
}



.card-solicitacao {
  width: 100%;
  max-width: 400px; /* 👈 controla até onde o card pode crescer */
  border-radius: 25px;
  padding: 16px;
  background-color: #1F5592;
  color: white;
  box-sizing: border-box;
}

.status-aprovacoes p {
  margin: 6px 0;
}

.status-final {
  margin-top: 10px;
  font-weight: bold;
  font-size: 19px;
  color: white;
}

.container-solicitacoes-aluno h1 {
  text-align: center;
  margin-bottom: 20px;
}

.botao-criar-nova-solicitacao{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.icone-status {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  vertical-align: middle;
}

.icone-status-final {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.titulo-sol-alunos{
  text-align: center;
  margin-top: 20px;
}

.card-solicitacao h2{
  color: #ffffff;
}
.btn-abrir-qrcode{
  background-color: #E8490F;
  border: none;
  border-radius: 25px;
  width: 50%;
  height: 25px;
  margin-top: 10px;
  color: white;
}