.formulario {
  background-color: #174b91;
  padding: 40px;
  border-radius: 20px;
  color: #ffffff;
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
}

.titulo {
  text-align: center;
  color: #ff4a00;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-width {
  grid-column: span 2;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #ffffff;
}

.campo input {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  outline: none;
}

input::placeholder {
  color: #999;
}

.termos {
  margin-top: 25px;
  font-size: 0.85rem;
  width: 70%;
  text-align: left;
  margin: 6% auto 0 auto;
}

.termo1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.termo1 p {
  margin: 0;
  color: #ffffff;
}

.termo1 a {
  color: #ff4a00;
  text-decoration: underline;
}

.login-link {
  text-align: center;
  margin: 30px 0 10px;
  font-size: 0.9rem;
}

.login-link a {
  color: #ffffff;
  text-decoration: underline;
}

.container-botao {
  text-align: center;
  margin: 40px 0;
}

.botao-concluir-cadastro {
  background-color: #ff4a00;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.botao-concluir-cadastro:hover {
  background-color: #e03d00;
}
