.graficos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

/* Título fora da caixa cinza */
.titulo-fora {
  color: #d13c0f;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.grafico-box {
  width: 1200px;
  height: 500px;
  background: #D9D9D9;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 0 0 10px #ccc;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

svg {
  transform: rotate(-90deg);
}

.legenda {
  list-style: none;
  padding-left: 20px;
  text-align: left;
}

.legenda li {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.cor {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}

/* Para inverter legenda e gráfico no segundo box */
.invertido {
  flex-direction: row-reverse;
}

.legenda-esquerda {
  padding-left: 0;
  padding-right: 20px;
  text-align: right;
}

.legenda span{
  width: 61px;
  height: 28px;
  border-radius: 25px;
}