@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.form-solicitacao, .form-solicitacao * {
  color: black !important;
  text-align: left;
}

.form-solicitacao {
  position: relative;
  width: 60%;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #E6E6E6;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: solid 2px black;
}

.line{
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: -30px;
  margin-bottom: 30px;
}

.cabecalho-escola {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
}

.logo-senai {
  width: 200px; 
}

.info-escola h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.info-escola p {
  margin: 4px 0 0;
  font-size: 14px;
}

.campo-single {
  margin-bottom: 20px;
}

.label-grande {
  font-size: 20px !important;
}

.campo-single input,
.campo-single select,
.form-solicitacao input[type="text"],
.form-solicitacao input[type="time"],
.form-solicitacao input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 16px;
}

.radio-group-solicitacao, .motivos-solicitacao {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0 20px;
  align-items: center;
}

.radio-group-solicitacao label,
.motivos-solicitacao label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-solicitacao input[type="radio"] {
  transform: scale(1.3);
  accent-color: #e64a19;
}

.label-media {
  font-size: 16px !important;
}

.campo-dual {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.assinaturas-pares.full {
  display: flex;
  gap: 30px; 
  margin-bottom: 20px;
}

.spacing-labels label {
  margin-bottom: 12px; 
}

.campo-assinatura {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.termo-solicitacao {
  background: #eaeaea;
  padding: 12px;
  border-radius: 6px;
  margin: 20px 0;
  font-size: 16px;
}

.botao-solicitar {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: #f04e23;
  color: white;
  border: none;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.botao-solicitar:hover {
  opacity: 0.8;
  border-radius: 10px;
}

.botao-assinar-aluno{
  border-radius: 25px;
  height: 40px;
  background-color: white;
  border: solid 1px black;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.botao-assinar-responsavel-forms{
  border-radius: 25px;
  height: 40px;
  background-color: white;
  border: solid 1px black;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.assinatura-aluno{
  background-color: white;
  width: 100%;
}

.assinatura-responsavel{
  background-color: white;
  width: 60%;
  height: 50px;
  object-fit: contain;
  border: solid 1px black;
  border-radius: 70px;
}

@media (max-width: 768px) {
  .logo-senai{
    width: 150px;
    margin-top: -30px;
    margin-left: -30px;
  }

  .info-escola h2{
    font-size: 14px;
    margin-top: -15px;
  }

  .info-escola p{
    font-size: 12px;
  }

  .line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .assinatura-responsavel{
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 440px) {
  .form-solicitacao{
    width: 90%;
  }

  .cabecalho-escola h2{
    font-size: 12px;
  }

  .cabecalho-escola{
    gap: 8px;
  }

  .logo-senai{
    margin:0;
    margin-left: -30px;
  }

  .botao-assinar-aluno{
    font-size: 13px;
  }

  .campo-metade{
    width: 50%;
  }

  #data-arrumar{
    width: 100px;
    margin-top: 15px;
  }
  .assinatura-responsavel{
    width: 100%;
    height: 50px;
  }
  .botao-assinar-responsavel-forms{
    font-size: 12px;
  }
}