.pagina-inicial {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #a0bee3; /* Add your desired background color here */
}

.logo-container {
  background-color: #fcfcfd;
  padding: 10px 0;
  text-align: center;
}

.logo-container img {
  height: 100px;
}

.novo-container {
  background-color: #1e4f91;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 55px 10px;
}

.novo-container p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.novo-container p.inicio {
  color: orangered;
}

.caixas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.caixa {
  background-color: #1f5aa8;
  border-radius: 15px;
  width: 500px;
  overflow: hidden;
}

.titulo-caixa {
  background-color: #182a70;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 20px;
}

.item {
  background-color: #1f5aa8;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.linha {
  height: 1px;
  background-color: black;
}

main {
  flex: 1;
  padding: 20px;
}

.novo-container p, .novo-container a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
