.pt1{
    margin-left: 12%;
}

.pt2{
    width: 25%;
    margin-right: 12%;
}

.pt1 .titulo-duvidas {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.infos {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 30px;
}

.contato {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F5592;
    text-align: center;
    height: 115px;
    align-items: center;
}

footer p{
    color: white;
    font-weight: 500;
}
    
.venha{
    font-weight: 900;
    margin-bottom: 10px;
}

p{
    font-family: 'Inter', sans-serif;
}