* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-geral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4; /* Cor de fundo se desejar */
}

.conteudo-principal {
  flex: 1;
  padding: 20px; /* ou o espaçamento que desejar */
}

