.detalhes-aluno {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.box-entrada {
  background-color: #19528c;
  color: white;
  padding: 12px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  height: 70px;
}

.box-entrada {
  background-color: #a7c3e8;
  color: #ffffff;
}

.box-ocorrencia {
  background-color: #e6440a;
  color: white;
  padding: 12px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  height: 70px;
  margin-bottom: 10px;
}

.box-saida{
  background-color: #19528c;
  color: white;
  padding: 12px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  height: 70px;
  margin-bottom: 5px;
}

.btn-autorizar-resp {
  background-color: #E8490F;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 440px) {
  .box-saida, .box-entrada{
    width: 90%;
  }
  span{
    font-size: 12px;
  }
  .btn-autorizar-resp {
    padding: 6px 10px;
    font-size: 12px;
    width: 90px;
  }
}