@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.esqueci-wrapper {
  text-align: center;
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.esqueci-wrapper .esqueci-title {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.esqueci-container {
  background-color: #1F5592;
  padding: 30px;
  border-radius: 25px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 150px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #e74c3c
}

.esqueci-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
}

.esqueci-label {
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.input-full-esqueci {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 97%;
  align-items: center;
}

.input-half-esqueci {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 97%;
  align-items: center;
}

.input-head-esqueci {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 97%;
  align-items: center;
}

.btn-submit-esqueci {
  margin: 0 auto;
  display: block;
  background-color: #e74c3c;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  max-width: 200px;
  font-family: 'Inter', sans-serif; 
  margin-top: -100px;
}

.btn-submit:hover {
  background-color: #c0392b;
}

.input-head-esqueci {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 97%;
  align-items: center;
}

.mensagem-feedback {
  color: #e74c3c;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: 800;
}