.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escuro translúcido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 30px 25px;
  border-radius: 20px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', sans-serif;
}

.modal-content h2 {
  font-size: 22px;
  color: #d94125;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 14px;
  color: #d94125;
  margin-bottom: 20px;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.code-inputs input {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s;
}

.code-inputs input:focus {
  border-color: #d94125;
}

.resend {
  color: #d94125;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

.modal-actions button {
  background-color: #d94125;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}