@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-title-coordenador {
  color: #E8490F;
  font-weight: 700;
  font-size: 20px;
  margin: 30px auto 20px;
  text-align: center;
}
.form-wrapper-coordenador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.form-container-coordenador {
  background-color: #1F5592;
  padding: 30px;
  border-radius: 15px;
  max-width: 900px;
  width: 100%;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.form-row-coordenador {
  display: flex;
  gap: 60px; 
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-group-coordenador {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: white;
}


.input-full-coordenador,
.input-half-coordenador {
  padding: 10px 8px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  font-style: italic;
}

.input-full-coordenador,
.input-half-coordenador {
  width: 100%;
}

.form-login-coordenador {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  margin-top: 40px;
}

.form-login-coordenador a {
  color: #ffffff;
  text-decoration: underline;
}

.submit-wrapper-coordenador {
  width: 100%;
  max-width: 300px;
  margin: 25px auto 0;
  padding: 0;
}

.btn-submit-outside-coordenador {
  width: 100%;
  background-color: #e8490f;
  color: white;
  padding: 17px 0;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.btn-submit-outside-coordenador:hover {
  background-color: #cc3c00;
}

.form-row-spacing-coordenador{
  margin-left: 210px;
  margin-right: 210px;
  margin-top: 25px ;
}