.form-wrapper-coordenador {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.form-title-coordenador {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 20px;
}

.centro-coordenador {
  width: 100%;
  max-width: 900px;
}

.form-container-coordenador {
  background-color: #174c88;
  padding: 30px;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


