.form-wrapper-responsavel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  padding: 20px;
}

.form-title-responsavel {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.centro-responsavel {
  width: 100%;
  max-width: 900px;
}

.form-container-responsavel {
  background-color: #174c88;
  padding: 30px;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* NOVO: layout em grid para campos */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* campo que ocupa a largura toda */
.full-width {
  grid-column: span 2;
}

/* botão alinhado no centro */
.botao-cadastro {
  margin-top: 30px;
  background-color: #f4511e;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.botao-cadastro:hover {
  background-color: #e64a19;
}
.campo label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: left; /* alinha à esquerda */
}
