.container-foto{
  width: 360px;
  height: 420px;
  background-color: #1F5592;
  margin: 5%;
  border-radius: 25px;
  text-align: center;
  align-items: center;
}


.imagem{
  margin-top: 10%;
  width: 100%;
}

.imagem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#h2{
  font-family: 'inter', sans-serif;
  color: #ffffff;
  font-weight: 200;
  margin-top: 10%;
}

.botao1 {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'inter', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}
