@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.container-ocorrencias {
  display: flex;
  flex-direction: row;
  padding: 100px;
  gap: 40px;
  background-color: transparent;
  height: auto;
  font-family: 'Inter', sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.perfil-aluno-ocorrencias {
  width: 30%;
  border-radius: 20px;
  padding: 30px 20px;
  color: #1F5592;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-aluno-ocorrencias img {
  width: 150px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.nome-aluno-ocorrencias {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.tabela-ocorrencias {
  width: 60%;
  border-radius: 25px;
  padding: 30px;
  height: auto;
  margin-top: 10px;
}

.titulo-tabela-ocorrencias {
  font-size: 25px;
  margin-bottom: 20px;
  color: #c0392b;
  text-align: center;
  border-radius: 25px;
  margin-top: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #87b3de;
  border-radius: 20px;
  overflow: hidden;
}

th {
  background-color: #1f4e89;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

td {
  padding: 20px;
  color: black;
  font-size: 18px;
  text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
  .container-ocorrencias {
    flex-direction: column;
    padding: 50px 20px;
  }

  .perfil-aluno-ocorrencias, .tabela-ocorrencias {
    width: 100%;
    margin-bottom: 30px;
  }

  .titulo-tabela-ocorrencias {
    margin-top: 30px;
    font-size: 22px;
  }

  th, td {
    padding: 15px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container-ocorrencias {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .perfil-aluno-ocorrencias {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .perfil-aluno-ocorrencias img {
    margin: 0 auto 20px auto;
  }

  .tabela-ocorrencias {
    width: 100%;
    padding: 20px;
    overflow-x: auto;
  }

  .titulo-tabela-ocorrencias {
    font-size: 20px;
    margin-top: 40px;
  }

  th, td {
    font-size: 16px;
    padding: 15px;
  }
}

