.container-ocorrencias {
  display: flex;
  flex-direction: row;
  padding: 100px;
  gap: 40px;
  background-color: transparent;
  height: auto;
}

.perfil-aluno-ocorrencias {
  width: 30%;
  border-radius: 20px;
  padding: 30px 20px;
  color: #1F5592;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-aluno-ocorrencias img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.nome-aluno-ocorrencias {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.tabela-ocorrencias {
  width: 50%;
  border-radius: 25px;
  padding: 30px;
  height: 200px;
  margin-top: 10px;
}

.titulo-tabela-ocorrencias {
  font-size: 22px;
  margin-bottom: 20px;
  color: #c0392b;
  text-align: center;
  border-radius: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #87b3de;
  border-radius: 20px;
  overflow: hidden;
}

th {
  background-color: #1f4e89;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

td {
  padding: 12px;
  color: black;
}

thead th:first-child {
  border-top-left-radius: 0;
}

thead th:last-child {
  border-top-right-radius: 0;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}