.cabecalho {
  background-color: #003366; /* Azul SENAI */
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cabecalho-topo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.cabecalho-topo img {
  height: 50px;
}

.cabecalho-topo h1 {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.cabecalho-links {
  margin-top: 10px;
}

.cabecalho-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  font-size: 15px;
  transition: color 0.3s;
}

.cabecalho-links a.ativo {
  color: #ff3c00; /* Vermelho SENAI */
}
